.button {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: aqua;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button:active {
    background-color: blueviolet;
}