.calculator {
    width: 800px;
    margin: 400px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}